<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url1" value="C:\"/>
    <add key="url2" value="C:\"/>
    <add key="url3" value="C:\"/>
    <add key="url4" value="C:\"/>
  </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>